@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

$font-s: 20px;
$font-m: 24px;
$font-l: 64px;
$font-xl: 128px;

$text-muted: #D1D1D1;
$text-primary: color-min(in srgb, #050014 100%, #01021EE3 89%);



